.navbar {
  background-color: rgba(116, 144, 175, 0.2);
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  padding: 1%;
  font-size: 1em;
  display: inline-block;
}

li a {
  color: rgb(199, 195, 195);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

li:hover {
  background-color: #023256;
}

#login {
  float: right;
}

#logout {
  float: right;
  cursor: pointer;
}

