<header>
  <nav class="navbar">
    <ul>
      <li id="topfilms">
        <a routerLink="/topfilms">Top Films</a>
      </li>
      <li id="topshows">
        <a routerLink="/topshows">Top Shows</a>
      </li>
      <li id="watched" *ngIf="isLogged === true">
        <a routerLink="/watched">Watched</a>
      </li>
      <li id="wishlist" *ngIf="isLogged === true">
        <a routerLink="/wishlist">Watchlist</a>
      </li>
      <li id="search">
        <a routerLink="/search">Search</a>
      </li>

      <li id="login" *ngIf="isLogged !== true" (click)="login()">
        <a><i class="fas fa-sign-in-alt"></i></a>
      </li>
      <li *ngIf="isLogged === true" id="logout" (click)="revokeToken()">
        <i class="fas fa-sign-out-alt"></i>
      </li>
    </ul>
  </nav>
</header>