<form #searchForm="ngForm">
  <div class="searchArea">
    <div class="search">
      <input
        type="text"
        class="search-box"
        style="height: 50px;"
        name="search"
        [(ngModel)]="searchTerm"
        placeholder="What are you looking for?"
      />
    </div>

    <div class="dropdown">
      <button class="dropbtn">Search In...</button>
      <div class="dropdown-content">
        <p class="searchMovies" (click)="searchMovies()">Movies</p>
        <p class="searchShows" (click)="searchShows()">Shows</p>
        <!-- <p class="searchBoth" (click)="searchBoth()">Both</p> -->
      </div>
    </div>
  </div>
</form>

<ng-template [ngIf]="displayMovies" class="listMedias">
  <div class="displayMovies">
    <ul>
      <li (click)="selectFilm(film)" *ngFor="let film of films" class="films">
        <app-poster [film]="film.movie.ids.tmdb"></app-poster> <br />
        <p>{{ film.movie.title }}</p>
        <p>{{ film.movie.year }}</p>
      </li>
    </ul>
  </div>
  <div class="divBtn">
    <button class="button" *ngIf="hasNext" (click)="fetchNextMovies()">
      Load More
    </button>
  </div>
</ng-template>

<ng-template [ngIf]="displayShows" class="listMedias">
  <div class="displayShows">
    <ul>
      <li (click)="selectShow(show)" *ngFor="let show of shows" class="shows">
        <app-poster [show]="show.show.ids.tmdb"></app-poster> <br />
        <p>{{ show.show.title }}</p>
        <p>{{ show.show.year }}</p>
      </li>
    </ul>
  </div>
  <div class="divBtn">
    <button class="button" *ngIf="hasNext" (click)="fetchNextShows()">
      Load More...
    </button>
  </div>
</ng-template>

<ng-template [ngIf]="displayMedias" class="listMedias">
  <div class="displayMedias">
    <ul>
      <li *ngFor="let myMedia of myMedias" class="medias">
        <p>{{ myMedia.movie.title }}</p>
      </li>
    </ul>
    <ul>
      <li *ngFor="let myMedia of myMedias" class="medias">
        <p>{{ myMedia.show.title }}</p>
      </li>
    </ul>
  </div>
  <div class="divBtn">
    <button class="button" *ngIf="hasNext" (click)="fetchNextMedias()">
      Load More...
    </button>
  </div>
</ng-template>
