.searchArea {
  margin-top: 4%;
  text-align: center;
}

.button {
  background-color: transparent;
  color: whitesmoke;
  border: none;
}
.search {
  margin-top: 1%;
}

.search-box {
  width: 20%;
  font-size: 18px;
  border: 1px solid rgba(175, 166, 166, 0.45);
  background-color: rgba(175, 166, 166, 0.45);
}

::placeholder {
  color: white;
}

.dropbtn {
  background-color: #41474d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;

  background-color: rgba(175, 166, 166, 0.45);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(94, 90, 90, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #023256;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #023256;
}

.divBtn {
  text-align: center;
  margin-bottom: 2%;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #e7e7e7;
}

.displayFilms {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-flex;
  font-size: 12px;
}

.displayShows {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-flex;
  font-size: 12px;
}

ul {
  list-style-type: none;
  display: inline;
  text-align: center;
  line-height: 5px;
  justify-content: space-between;
}

.films {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  display: block;
  float: left;
  cursor: pointer;
  font-size: 12px;
}

.shows {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  display: block;
  float: left;
  cursor: pointer;
  font-size: 12px;
}
