<div>
  <h2>Episode {{ episode.number }} : {{ episode.title }}</h2>
  <p class="overview">{{ episode.overview }}</p>
  <br />
  <p>Episode Runtime: {{ episode.runtime }}</p>
</div>

<!-- Manque le titre de la série -->
