h3 {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 2rem;
  font-weight: lighter;
}

ul {
  list-style-type: none;
  display: inline;
  text-align: center;
  line-height: 5px;
  justify-content: space-between;
}

.listShows {
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-flex;
  font-size: 12px;
}

.shows {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  display: block;
  float: left;
}

.pointer {
  cursor: pointer;
}

.divBtn {
  text-align: center;
  margin-bottom: 2%;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #e7e7e7;
}
