<h3>Most Popular Shows</h3>

<ng-container
  *ngIf="shows"
>
  <div class="listShows">
    <ul>
      <li (click)="onSelect(show)" *ngFor="let show of shows" class="shows">
        <app-poster class="pointer" [show]="show.ids.tmdb"></app-poster> <br />
        <p>{{ show.title }}</p>
        <p>{{ show.year }}</p>
      </li>
    </ul>
  </div>
</ng-container>

<div class="divBtn">
  <button class="button" *ngIf="hasNext" (click)="fetchNextPage()">
    Load More...
  </button>
</div>
<!-- <button *ngIf="hasPrevious" (click)="fetchPreviousPage()">Previous</button> -->
