<div class="main">
  <div class="backdrop">
    <app-backdrop [film]="film.ids.tmdb"></app-backdrop><br />
    <p class="title">{{ film.title }} - {{ film.year }}</p>
  </div>

  <div class="about">
    <div class="aboutposter">
      <app-poster [film]="film.ids.tmdb"></app-poster><br />
      <button
        class="addList listNext"
        *ngIf="!inWishlist"
        (click)="addWishMovie(film)"
      >
        <i class="far fa-heart fa-2x"></i>
      </button>
      <button
        class="addList listDone"
        *ngIf="!inWatchedlist"
        (click)="addWatchedMovie(film)"
      >
        <i class="fas fa-check fa-2x"></i>
      </button>
    </div>

    <div class="aboutinfo">
      <!-- <h3>You selected film with id= {{filmId}}</h3> -->
      <p class="tagline">{{ film.tagline }}</p>
      <p class="overview">{{ film.overview }}</p>
      <p>Runtime: {{ film.runtime }} min</p>
      <p>Rating: {{ film.rating | number: "1.0-1" }} / 10</p>
      <p>Genre: {{ film.genres }}</p>
      <p>Origin: {{ film.country }}</p>
    </div>
    <br />
  </div>

  <app-trailer *ngIf="trailer" [trailerUrl]="trailer"></app-trailer>

  <div class="related">
    <p id="relatedTitle">If you like {{film.title}}, check out ...</p>
    <ul>
      <li
        (click)="selectFilm(similar)"
        *ngFor="let similar of similars | slice: 0:6"
        class="similars"
      >
        <app-poster [film]="similar.ids.tmdb"></app-poster><br />
        {{ similar.title }} <br />
        {{ similar.year }}
      </li>
    </ul>
  </div>

  <div class="casting">
    <p>Casting:</p>
    <ul>
      <li
        [routerLink]="['/actor', actor.person.ids.trakt]"
        *ngFor="let actor of actors | slice: 0:10"
        class="actors"
        (click)="(selectActor)"
      >
        <app-actor-picture
          class="actorPicture"
          [actor]="actor.person.ids.tmdb"
        ></app-actor-picture>
        <br />
        <p class="name">{{ actor.person.name }}</p>
      </li>
    </ul>
  </div>
</div>
