.backdrop {
  width: 70vw;
  margin: 0 auto;
}

.title {
  font-size: 40px;
}

.about {
  display: flex;
}

.aboutposter {
  margin-left: 15%;
  margin-top: 2%;
}

.aboutinfo {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 15%;
}

.overview {
  text-align: justify;
}
.tagline {
  font-style: italic;
  padding-bottom: 2%;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
}
a {
  color: white;
  text-decoration: none;
}

.related {
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 12px;
}

.similars {
  padding: 2%;
  display: inline-block;
  cursor: pointer;
}

.casting {
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
}

.actors {
  padding: 2%;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.name {
  font-size: 10px;
}

.addList {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.listNext {
  color: red;
}

.listDone {
  color: green;
}

#relatedTitle {
  font-size: 18px;
}
