<div class="containerPage">
  <div class="season">
    <i
      class="fas fa-chevron-left fa-2x arrow"
      *ngIf="displayArrow"
      (click)="selectPreviousSeason()"
    ></i>
    <h3>{{ showTitle }} - Season {{ seasonId }}</h3>
    <i class="fas fa-chevron-right fa-2x arrow" (click)="selectNextSeason()"></i>
  </div>

  <div class="main">
    <ul *ngIf="tmdbId" class="listEpisodes">
      <li
        (click)="selectEpisode(episode)"
        *ngFor="let episode of episodes; let i = index"
        class="episodes"
      >
        <!-- En paramètre, on envoie l'id tmdb du show, l'id trakt de la saison, qui est la même que sur tmdb et i pour représenter l'id de l'épisode -->
        <app-episode-images
          class="pointer"
          [showNumber]="tmdbId"
          [seasonNumber]="seasonId"
          [episodeNumber]="i + 1"
        ></app-episode-images>

        <div class="episodeTitle">
          <p>Episode {{ episode.number }}</p>
          <p>{{ episode.title }}</p>
        </div>
      </li>
    </ul>
  </div>

  <!-- Affiche les détails de l'épisode en dessus, au click sur le titre -->
  <app-detailepisode
    [episode]="selectedEpisode"
    *ngIf="displayDetails"
    class="details"
  ></app-detailepisode>
</div>
