ul {
  list-style: none;
  width: 100%;
}

.listEpisodes {
  text-align: center;
}

.episodeTitle {
  font-size: 12px;
}

.pointer {
  cursor: pointer;
}

.listEpisodes {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin-left: 4%;
}

.episodes {
  padding: 1%;
}

h3 {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2rem;
  font-weight: lighter;
}

.details {
  margin-bottom: 5%;
}

.containerPage {
  overflow-x: hidden;
}

.season {
  display: inline-flex;
  width: 100%;
  align-items: center;
  margin-left: 4%;
}

.arrow {
  cursor: pointer;
}
