h3 {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 2rem;
  font-weight: lighter;
}

.buttons {
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #e7e7e7;
}

#btnShow {
  margin-left: 10%;
}

ul {
  list-style-type: none;
}
