<h3>Watched Movies and Shows</h3>

<div class="buttons">
  <ul>
    <li class="button" (click)="seenMovies()">Movies</li>
    <li class="button" id="btnShow" (click)="seenShows()">Shows</li>
  </ul>
</div>

<ng-template [ngIf]="displayMovies"
  ><app-seenfilms></app-seenfilms
></ng-template>

<ng-template [ngIf]="displayShows"><app-seenshows></app-seenshows></ng-template>
