<!--The content below is only a placeholder and can be replaced.-->
<div class="mainDiv" style="text-align:center">
  <div class='header'>
    <h1 id="title">
      {{ title }}
    </h1>
    <app-get-slug class="welcome" *ngIf="isLogged === true"></app-get-slug>
  </div>
  <app-navbar></app-navbar>
</div>

<router-outlet></router-outlet>