.buttons {
  text-align: center;
}

.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #e7e7e7;
}

#btnShow {
  margin-left: 10%;
}

ul {
  list-style-type: none;
}

.main {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

#name {
  font-size: 20px;
}

.picture_bio {
  display: flex;
  margin-left: 5%;
}

.bio {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.info {
  font-size: 14px;
}

.birth {
  margin-top: 5%;
}
