<div class="main">
  <p id="name">{{ actor.name }}</p>

  <div class="picture_bio">
    <app-actor-picture
      class="picture"
      class="actorPicture"
      [actor]="actor.ids.tmdb"
    ></app-actor-picture>

    <p class="bio">{{ actor.biography }}</p>
  </div>
  <p class="info birth">Birthday: {{ actor.birthday | date}}</p>
  <!-- <p class='info'>Death:{{ actor.death }}</p> -->
  <p class="info">Born in: {{ actor.birthplace }}</p>

  <div class="buttons">
    <button class="button" (click)="seeMovies()">Movies</button>
    <button class="button" id="btnShow" (click)="seeShows()">Shows</button>
  </div>

  <ng-template [ngIf]="displayMovies">
    <ul>
      <li *ngFor="let moviesCast of moviesCasts">
        <!-- <app-poster
          class="pointer"
          [moviesCast]="moviesCast.movie.ids.tmdb"
        ></app-poster
        ><br /> -->
        {{ moviesCast.movie.title }}
      </li>
    </ul>
  </ng-template>

  <ng-template [ngIf]="displayShows">
    <ul>
      <li *ngFor="let showsCast of showsCasts">
        {{ showsCast.show.title }}
      </li>
    </ul>
  </ng-template>
</div>
