<div class="listFilms">
  <ul class="list flex-container">
    <li *ngFor="let film of films" class="films flex-item" (click)="selectFilm(film)">
      <app-poster [film]="film.movie.ids.tmdb"></app-poster><br />
      <p>{{ film.movie.title }}</p>
      <p>{{ film.movie.year }}</p>
    </li>
  </ul>
</div>
