ul {
  list-style-type: none;
  text-align: center;
}

.listFilms {
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;justify-content: flex-start
  
}

.films {
  padding: 2%;
  float: left;
  cursor: pointer;
}

