<h3>Movies and Shows in your Watchlist</h3>

<div class="buttons">
  <ul>
    <li class="button" (click)="nextMovies()">Movies</li>
    <li class="button" id="btnShow" (click)="nextShows()">Shows</li>
  </ul>
</div>

<ng-template [ngIf]="displayMovies"
  ><app-nextfilms></app-nextfilms
></ng-template>

<ng-template [ngIf]="displayShows"><app-nextshows></app-nextshows></ng-template>
