<div class="listShows">
  <ul>
    <li *ngFor="let show of shows" class="shows" (click)="selectShow(show)">
      <app-poster [show]="show.show.ids.tmdb"></app-poster><br />
      <p>{{ show.show.title }}</p>
      <p>{{ show.show.year }}</p>
    </li>
  </ul>
</div>
