<!-- <h3>you selected show with id = {{ showId }}</h3> -->
<!-- The route parameter to get the details is the media's trakt id -->

<div class="main">
  <div class="backdrop">
    <app-backdrop [show]="show.ids.tmdb"></app-backdrop><br />
    <p class="title">{{ show.title }} - {{ show.year }}</p>
  </div>

  <div class="about">
    <div class="aboutposter">
      <app-poster [show]="show.ids.tmdb"></app-poster><br />
      <button
        class="addList listNext"
        *ngIf="!inWishlist"
        (click)="addWishShow(show)"
      >
        <i class="far fa-heart fa-2x"></i>
      </button>
      <button
        class="addList listDone"
        *ngIf="!inWatchedlist"
        (click)="addWatchedShow(show)"
      >
        <i class="fas fa-check fa-2x"></i>
      </button>
      <p>{{ show.aired_episodes }} episodes</p>
      <p>{{ show.status }}</p>
      <p>{{ show.network }}</p>
    </div>

    <div class="aboutinfo">
      <p class="overview">{{ show.overview }}</p>
      <p>Runtime: {{ show.runtime }} min</p>
      <p>genre: {{ show.genres }}</p>
      <p>Rating: {{ show.rating | number: "1.0-1" }} /10</p>
      <p>Origin: {{ show.country }}</p>
    </div>
    <br />
  </div>

  <app-trailer *ngIf="trailer" [trailerUrl]="trailer"></app-trailer>

  <div class="seasons">
    <h3>Available Seasons for {{show.title}}:</h3>
    <ul>
      <li
        (click)="onSelect(season)"
        *ngFor="let season of seasons; let i = index"
        class="seasonsList"
      >
        <app-season-images
          [show]="show.ids.tmdb"
          [season]="i"
        ></app-season-images>
        <p>{{ season.title }}</p>
      </li>
    </ul>
  </div>

  <div class="related">
    <p id="relatedTitle">If you like {{show.title}}, check out ...</p>
    <ul>
      <li
        (click)="selectShow(similar)"
        *ngFor="let similar of similars | slice: 0:6"
        class="similars"
      >
        <app-poster [show]="similar.ids.tmdb"></app-poster> <br />
        {{ similar.title }}
      </li>
    </ul>
  </div>

  <div class="casting">
    <p>Series Regulars:</p>
    <ul>
      <li
        [routerLink]="['/actor', actor.person.ids.trakt]"
        *ngFor="let actor of actors | slice: 0:10"
        class="actors"
        (click)="(selectActor)"
      >
        <app-actor-picture
          class="actorPicture"
          [actor]="actor.person.ids.tmdb"
        ></app-actor-picture>
        <br />
        <p class="name">{{ actor.person.name }}</p>
      </li>
    </ul>
  </div>

  <router-outlet></router-outlet>
</div>
