<div class="listFilms">
  <ul>
    <li *ngFor="let film of films" class="films" (click)="selectFilm(film)">
      <app-poster [film]="film.movie.ids.tmdb"></app-poster><br />
      <p>{{ film.movie.title }}</p>
    </li>
  </ul>
</div>
