ul {
  list-style-type: none;
  display: inline;
  text-align: center;
}

.listFilms {
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
  display: inline-flex;
  font-size: 12px;
}

.films {
  padding: 2%;
  display: inline-block;
  float: left;
  cursor: pointer;
}
