body {
  font-family: "Montserrat Alternates", sans-serif;
  color: rgb(199, 195, 195);
  /* background-image: url("images/wood.png"); */
  background-image: url("images/wood2.png");
  /* background: linear-gradient(to right,#0f0c29, #302b63, #24243e); */
  overflow-x: hidden;
}
