<h3>Most Popular Movies</h3>

<ng-container
  *ngIf="films"
>
  <div class="listFilms">
    <ul>
      <li (click)="onSelect(film)" *ngFor="let film of films" class="films">
        <!-- Appel des posters correspondants à chaque film; ils se trouvent dans le composant Poster -->
        <app-poster class="pointer" [film]="film.ids.tmdb"></app-poster><br />
        <p>{{ film.title }}</p>
        <p>{{ film.year }}</p>
      </li>
    </ul>
  </div>
</ng-container>

<div class="divBtn">
  <button class="button" *ngIf="hasNext" (click)="fetchNextPage()">
    Load More...
  </button>
</div>
<!-- <button *ngIf="hasPrevious" (click)="fetchPreviousPage()">Previous</button> -->
